USE [master]
GO
/****** Object:  Database [DB_PRODUCTOS]    Script Date: 15/03/2024 14:00:50 ******/
CREATE DATABASE [DB_PRODUCTOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_PRODUCTOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_PRODUCTOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_PRODUCTOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_PRODUCTOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_PRODUCTOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_PRODUCTOS]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 15/03/2024 14:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[Id_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [varchar](300) NULL,
	[Precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_editar_producto]    Script Date: 15/03/2024 14:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_editar_producto](
@id_Producto int,
@nombre varchar(100) null,
@descripcion varchar(300) null,
@precio decimal(10,2)null
)
as
begin

	UPDATE PRODUCTO set
	Nombre = ISNULL(@nombre, Nombre),
	Descripcion = ISNULL(@descripcion, Descripcion),
	Precio = ISNULL(@precio, Precio)
	where Id_Producto = @id_Producto

end
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_producto]    Script Date: 15/03/2024 14:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_eliminar_producto](
@id_Producto int
)as
begin

	delete from PRODUCTO where Id_Producto = @id_Producto

end
GO
/****** Object:  StoredProcedure [dbo].[sp_guardar_producto]    Script Date: 15/03/2024 14:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_guardar_producto](
@nombre varchar(100),
@descripcion varchar(300),
@precio decimal(10,2)
)
as
begin
	insert into PRODUCTO(Nombre,Descripcion,Precio)
	values(@nombre,@descripcion,@precio)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_lista_productos]    Script Date: 15/03/2024 14:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_lista_productos]
as
begin
	select
	Id_Producto,Nombre,Descripcion,Precio
	from PRODUCTO
end
GO
USE [master]
GO
